/* -------------------- CSS BY PETER VELEZ ----------------------- */

/* -------------------- IMPORTED FONTS -------------------- */

/*------------------ CSS RESET -----------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------- ROOT VARIABLES ------------------------- */

:root {
    --black: #0D0D0D;
    --lt-gray: #F2F2F2;
    --teal: #7ABFBF;
    --lt-teal: rgba(122, 191, 191, .5);
    --orange: #EB5428;
}

h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: "Bebas Neue", serif;
    font-style: normal;
}

p, dd, li, nav, input {
    font-family: 'Montserrat';
    font-style: normal;
}

body {
    min-width: 414px;
    background-color: var(--lt-teal);
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

nav a, nav span, menu li, #social li, footer {
    font-size: 20px;
}

p, dd, li, nav, input, dt {
    font-size: 16px;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: auto;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    width: 100%;
    height: 200px;
    position: fixed;
    top: 0;
    z-index:5;
    justify-content: center;
    align-items: center;
}

nav form {
    display: none;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}

nav li img {
    display: none;
}

nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
    order: -1;
}

nav span {
    display: block;
    position: relative;
}

nav label svg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

nav input {
    display: inline-block;
}

#dropdown {
    display: none;
}

nav input:checked ~ ul {
    max-height: 550px;
}

nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

header h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    background-color: #F2F2F2;
    padding: 250px 0 60px 0;
}

header form {
    display: flex;
    position: relative;
    bottom: -200px;
    width: 250px;
    padding-top: 50px;
}

menu {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: 100%;
}

menu section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

menu p {
    font-family: "Bebas Neue";
    font-style: bold;
    font-size: 40px;
    color: #EB5428;
}

div.interact {
    display: flex;
    justify-content: space-evenly;
}

div.interact section {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}

input {
    height: 50px;
    border-style: solid;
    border-color: #EB5428;
}

.tacotext p {
    padding: 20px 10px 20px 10px;
    background-color: var(--lt-gray);
    line-height: 3em;
}

.details {
    display: block;
    background-color: var(--lt-gray);
    padding: 30px 0 30px 0;
}

.details dt {
    font-family: "Montserrat";
    font-style: bold;
    float: left;
    clear: left;
    font-weight: bold;
    font-size: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-right: 10px;
}
 
dd {
    font-size: 20px;
    margin-left: 0px;
    padding-bottom: 10px;
}

.details h2 {
    text-align: center;
    padding-bottom: 10px;
}

.ingredients {
    display: block;
    background-color: var(--lt-gray);
    padding: 30px 0 10px 0;
}

.ingredients h2 {
    text-align: center;
    padding-bottom: 10px;
}

.ingredients ul {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 25px;
}

.ingredients li {
    margin-bottom: 30px;
}

.directions {
    display: block;
    background-color: var(--lt-gray);
}

.directions h2 {
    text-align: center;
    padding-bottom: 10px;
}

.directions ol {
    display: list-item;
    list-style-type: inside;
    padding-left: 60px;
    padding-bottom: 20px;
}

.directions li {
    padding-left: 30px;
    line-height: 3em;
    padding-bottom: 30px;
}

aside h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: var(--teal);
}

.rating {
    background-color: var(--teal);
    padding-bottom: 100px;
    padding-left: 40px;
}

.rating::after {
    content: "";
    clear: both;
    display: table;
}

.rating img {
    float: left;
    margin-right: 40px;
}

.rating h3 {
    padding-bottom: 30px;
}

.rating p {
    padding-bottom: 20px;
}

.rating h4 {
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
}

.rating svg {
    display: inline-block;
}

header form {
    display: flex;
    position: relative;
    bottom: -200px;
    width: 250px;
}

input {
    height: 50px;
    border-style: solid;
    border-color: #EB5428;
}

.details {
    display: block;
    background-color: var(--lt-gray);
    padding: 30px 0 30px 0;
}

.details dt {
    font-family: "Montserrat";
    font-style: bold;
    float: left;
    clear: left;
    font-weight: bold;
    font-size: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-right: 10px;
}
 
dd {
    font-size: 20px;
    margin-left: 0px;
    padding-bottom: 10px;
}

.details h2 {
    text-align: center;
    padding-bottom: 10px;
}

.ingredients {
    display: block;
    background-color: var(--lt-gray);
    padding: 30px 0 10px 0;
}

.ingredients h2 {
    text-align: center;
    padding-bottom: 10px;
}

.ingredients ul {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 25px;
}

.ingredients li {
    margin-bottom: 30px;
}

.directions {
    display: block;
    background-color: var(--lt-gray);
}

.directions h2 {
    text-align: center;
    padding-bottom: 10px;
}

.directions ol {
    display: list-item;
    list-style-type: inside;
    padding-left: 60px;
    padding-bottom: 20px;
}

.directions li {
    padding-left: 30px;
    line-height: 3em;
    padding-bottom: 30px;
}

aside h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: var(--teal);
}

.rating {
    background-color: var(--teal);
    padding-bottom: 100px;
    padding-left: 40px;
}

.rating::after {
    content: "";
    clear: both;
    display: table;
}

.rating img {
    float: left;
    margin-right: 40px;
}

.rating h3 {
    padding-bottom: 30px;
}

.rating p {
    padding-bottom: 20px;
}

.rating h4 {
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
}

.rating svg {
    display: inline-block;
}

footer h2 {
    display: none;
}

footer h3 {
    display: none;
}

footer menu {
    padding: 150px 0 40px 0;
    background-color: #ffffff;
}

.sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

footer {
    background-color: #ffffff;
}

section.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    padding: 20px 0 20px 0;
}

footer p {
    font-family: "Bebas Neue";
    font-size: 40px;
}

@media screen and (min-width: 768px) {

header form {
    display: none;
}

nav form {
    display: flex;
}

}